/* common shared styles */
body { 
    font-family: 'Open Sans', sans-serif;
}

/* nav related styles */
nav { 
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
    
}
.nav-tittle{
    color: black;
    font-style: normal;
    line-height: normal;

}
.text-primary{
    color: #16d91c;
}

nav > ul{
    display: flex;
}
ul > li{
    list-style: none;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: rgb(117, 16, 16);
}
btn-primary{
    border-radius: 5px;
    background-color: red;
    border: 0;
    font-size: 20px;
    font-weight: 200;
    color: white;
    padding: 10px 15px;
}
/* header related styles */
.header{
    background: pink;
    background-image: url(image/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    display: flex;
    align-items: center;
}
.banner.profile-pic{
    width: 100px;
}
main{
    max-width: 1000;
}
.nav-tittle{ 
    border-bottom: 5px;

}
div{
    text-align: center;
display: inline;

}
.about{
    padding: 1120px;
    border-radius: 50px;
    background-color: none;
    margin: 100 100;
}
.main{
    width: 1140px;
    margin: 0 auto;

}

/* skills-container */

.skillas-container{
display: flex;


}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-description{
    padding: 30px 150px;
}
.skills{
    padding: 30px;
    gap: 24px;
}
.resume-column-tittle{
color: #474747;
font-size: 30px;
font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
}
 .resume-item-description, .resume-item-institute{
    color: #474747;
}
.download-cv{
    text-align: center;
    display: flex;
    margin-top: 20px;
}
footer{
    display: flex;
    background: #FFF8F3;
    margin-top: 60px;
    padding: 100px 100px;
}
.footer-column{
    
    gap: 100px;
}
.contact input, textarea{
display: block;
margin-bottom: 20px;
padding: 15px 20px;
color: rgb(140, 177, 53);
border-radius: 5px;
border: 0;


}